/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config 1080p */

/*@import "~/.config/rofi/master-config.rasi"*/ 
@import "~/.config/rofi/themes/KooL_style-9.rasi" 

/* ---- Configuration ---- */
configuration {
	font: "JetBrains Mono 10";
}

element-text {
    font:	"JetBrains Mono 12";
}

